

#tituloNav{
	text-decoration-style: none;
	background: -webkit-linear-gradient(#ff267a, #FFA634);
	-webkit-background-clip:  text;
	-webkit-text-fill-color: transparent;
}

#time{
	color: white;
	text-decoration-style: none;
}

#title{
	color: white;
}

.botaoadd{
	background-color: #181818;
	border-color: #181818;
	color: white;
	border: none;
}

.user1{
	background-color: red;
	width: 60px;
	height: 60px;
}