

#tituloNav{
	text-decoration-style: none;
	background: -webkit-linear-gradient(#ff267a, #FFA634);
	-webkit-background-clip:  text;
	-webkit-text-fill-color: transparent;
}

#time{
	color: white;
	text-decoration-style: none;
}

#title{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}

.botaoadd{
	margin-top: 150px;
	background-color: #121214;
	border-color: #121214;
	color: white;
	border: none;
}

#usuarios{
	padding-top: 140px;
}

#nomeuser{
	color: silver;
	padding-top: 10px;
}

#user1{
	background-color: red;
	width: 120px;
	height: 120px;
	border-radius: 200%;
}

#user2{
	background-color: blue;
	width: 120px;
	height: 120px;
	border-radius: 200%;
}

#user3{
	background-color: green;
	width: 120px;
	height: 120px;
	border-radius: 200%;
}